@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

.strike {
  text-decoration: line-through;
  color: var(--danger);
 }

 .no-decoration {
   text-decoration: none;
 }

 .list {
   height: 25vh;
 }

 .grow:hover {
  transform: scale(1.01);
  transition: all .25s ease-in-out;
  }